{% extends 'shop/base.html' %}
{% load static %}
{% block title %} Корзина {% endblock %}

{% block content %}
    <div class="cart_container">
        <div class="cart_body">
            <div class="cart_items">
                {% for item in cart %}
                    {% with product=item.product %}
                        <div class="cart_item">
                            <table class="cart_positions">
                                <tbody>
                                <tr>
                                    <td style="background: #FFFFFF"><img src="{{ product.img.url }}"
                                                                                       alt=""></td>
                                    <td style="background: #FFFFFF">{{ product.name }}</td>
                                    <td style="background: #FFFFFF"
                                        align="center">
                                        <div class="quantity">
                                            <a href="{% url 'cart-remove-one' product.code %}" class="minus-btn" type="button" name="button">-</a>
                                            <input class="qty" type="text" name="quantity" value="{{ item.quantity }}" data-id="{{ item.id }}" readonly>
                                            <a href="{% url 'cart-add-one' product.code %}" class="plus-btn" type="button" name="button">+</a>
                                        </div>
{#                                        {{ item.quantity }}#}
                                    </td>
                                    <td style="background: #FFFFFF" align="center" class="total-price">{{ item.total_price }}
                                        руб.
                                    </td>
                                    <td width="150px" style="background: #FFFFFF" align="right"><a
                                            href="{% url 'cart-remove' product.code %}"><i class="fa-regular fa-circle-xmark"></i></a></td>
                                </tr>
                                </tbody>
                            </table>


                        </div>
                    {% endwith %}
                {% endfor %}
            </div>

            <div class="cart_summary">
                <div class="cart_summary_body">
                    <table class="summary">

                        <tbody>
                        <tr>
                            <td>Товары ({{ cart|length }})</td>
                            <td align="right">{{ cart.get_total_price }} &#8381</td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="summary">
                        <tbody>
                        <tr>
                            <td>Способ получения
                                </td>

                        </tr>
                        <tr style="border-bottom: 2px solid black; font-weight: lighter;">{% for choice in delivery_choices %}
                            <td><label for="">{{ choice.1 }}<input type="radio" name="delivery"
                                                                   value="{{ choice.0|floatformat }}"
                                    {% if cart.delivery == choice.0 %} checked{% endif %}></label></td>{% endfor %}
                        </tr>
                        <tr>
                            <td>Общая стоимость</td>
                            <td align="right"><span id="total-price"
                                                    data-total-price>{{ cart.get_total_price_with_delivery }}</span>
                                &#8381
                            </td>
                        </tr>
                        </tbody>
                    </table>


                    <a href="{% url 'order-create' %}">
                        <div class="gotoform">Оформить заказ</div>
                    </a>
                </div>
            </div>
        </div>
    </div>


    {#    <script src="{% static 'cart/js/TotalPriceScript.js' %}"></script>#}
    <script>
        function updateTotalPrice() {
            var deliveryRadioButtons = document.getElementsByName('delivery');

            for (var i = 0; i < deliveryRadioButtons.length; i++) {
                if (deliveryRadioButtons[i].checked) {
                    var totalPrice = parseFloat('{{ cart.get_total_price|floatformat:2 }}');
                    var deliveryPrice = 0;
                    if (i === 0) {
                        deliveryPrice = 600;
                    }
                    var totalWithDelivery = (totalPrice + deliveryPrice).toFixed(2);
                    document.getElementById('total-price').innerHTML = totalWithDelivery;
                    break;
                }
            }
        }

        var deliveryRadioButtons = document.getElementsByName('delivery');
        for (var i = 0; i < deliveryRadioButtons.length; i++) {
            deliveryRadioButtons[i].addEventListener('change', updateTotalPrice);
        }

        updateTotalPrice();
    </script>

{% endblock %}



