{% extends 'shop/base.html' %}
{% load static %}
{% block title %}Логин{% endblock %}
{% block content %}
    <div class="login_container">
        <div class="login_body">
            <h2>Логин</h2>
            {% if form.errors %}
                <p>
                    Некорректный логин или пароль. Проверьте правильность данных
                </p>
            {% else %}
                <p>Пожалуйста, заполните поля ниже для входа в личный кабинет.</p>
            {% endif %}
            <div class="login-form">
                <form action="{% url 'login' %}" method="post">
                    {{ form.as_p }}
                    {% csrf_token %}
                    <a href="{% url 'password-reset' %}"><u>Забыл(-а) пароль</u></a>
                    <a href="{% url 'register' %}"><u>Регистрация</u></a>

                    <input type="hidden" name="text" value="{{ next }}">
                    <p><input type="submit" value="Войти"></p>
                </form>
            </div>
        </div>
    </div>

{% endblock %}