{% extends 'shop/base.html' %}
{% load static %}
{% block title %}Сброс пароля{% endblock %}
{% block content %}
    <div class="password_reset_confirm_container">
        <div class="password_reset_confirm_body">
            {% if validlink %}
                <p>Пожалуйста, введите ваш новый пароль дважды</p>
                <form method="post">
                    {{ form.as_p }}
                    {% csrf_token %}
                    <p><input type="submit" value="Поменять пароль"></p>
                </form>
            {% else %}
                <p>Данная ссылка на сброс пароля недействительна. Пожалуйста, запросите сброс пароля ещё раз.</p>
            {% endif %}
        </div>
    </div>

{% endblock %}