{% extends 'shop/base.html' %}
{% load static %}
{% block title %}Change password{% endblock %}
{% block content %}
    <div class="password_change_container">
        <div class="password_change_body">
            <h2>Смена пароля</h2>
            <p>Заполните форму ниже для смены пароля:</p>
            <form method="post">
                {{ form.as_p }}
                <p><input type="submit" value="Поменять"></p>
                {% csrf_token %}
            </form>
        </div>
    </div>

{% endblock %}