{% extends 'shop/base.html' %}
{% load static %}
{% block title %}Reset password{% endblock %}
{% block content %}
    <div class="password_reset_container">
        <div class="password_reset_body">
            <h2>Забыли Ваш пароль?</h2>
            <p>Введите адрес вашей электронной почты чтобы получить новый пароль.</p>
            <form method="post">
                {{ form.as_p }}
                <p><input type="submit" value="Отправить письмо"></p>
                {% csrf_token %}
            </form>
        </div>
    </div>

{% endblock %}