{% extends 'shop/base.html' %}
{% load static %}
{% block title %}Данные о заказе{% endblock %}
{% block content %}
    <div class="order_detail_container">
        <div class="order_detail_body">
            <h1>Информация о заказе №{{ order.id }}</h1>
            <p><b>Дата создания заказа:</b> {{ order.created }}</p>
            <p><b>Сумма заказа:</b> {{ order.get_total_cost }}</p>
            <p><b>Способ получения:</b> {{ order.way_to_get }}</p>
            <h2>Товары в заказе</h2>
            <ul>
                {% for item in order.items.all %}
                    <li>{{ item.product.name }} - {{ item.price }} руб. x {{ item.quantity }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}