{% extends 'shop/base.html' %}
{% load static %}
{% block title %}Данные о заказе{% endblock %}
{% block content %}
    <div class="order_detail_container">
        <div class="order_detail_body">
            <div class="order_detail_table_frame">
                <div class="order_detail_table_body">
                    <table class="order_detail_table">
                        <tbody>
                        <tr>
                            <td>Заказ от {{ order.created }} №{{ order.id }}</td>
                            <td>Статус заказа:</td>
                        </tr>
                        <tr>
                            <td>Способ получения: {{ order.way_to_get }}</td>
                        </tr>
                        <tr>
                            <td>Комментарий к заказу:</td>
                        </tr>
                        </tbody>

                    </table>
                </div>

            </div>

            <div class="order_info_frame">


                <div class="order_info_body">
                    <div class="order_info_content">
                        <h1>Информация о заказе</h1>
                        {% for item in order.items.all %}
                            <table class="order_goods_table">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th>Цена</th>
                                    <th>Количество</th>
                                    <th>Итого</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><a href="{{ item.product.tech_desc }}">PDF</a></td>
                                    <td>{{ item.product.name }}</td>
                                    <td>{{ item.price }} &#8381;</td>
                                    <td>{{ item.quantity }} шт.</td>
                                    <td class="total-price"></td>
                                </tr>
                                </tbody>
                            </table>
                        {% endfor %}
                        <p id="summ">Итого: {{ order.get_total_cost }} &#8381;</p>
                        <button id="back" onclick="window.location.href='{% url 'dashboard' %}'" >Вернуться назад</button>
                    </div>

                </div>
            </div>

        </div>
    </div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const rows = document.querySelectorAll(".order_goods_table tbody tr");
        rows.forEach(function(row) {
            const priceCell = row.querySelector("td:nth-child(3)");
            const quantityCell = row.querySelector("td:nth-child(4)");
            const totalPriceCell = row.querySelector(".total-price");

            const price = parseFloat(priceCell.textContent);
            const quantity = parseInt(quantityCell.textContent);
            const totalPrice = price * quantity;

            totalPriceCell.innerHTML = totalPrice.toFixed(2) + " &#8381";
        });
    });
</script>
{% endblock %}