{% extends 'shop/base.html' %}
{% load static %}
{% block title %}Registration{% endblock %}
{% block content %}
    <div class="registration_container">
        <div class="registration_body">
            <h2>Регистрация личного кабинета</h2>
            <p>Пожалуйста, заполните следующие поля</p>
            <form method="post">
                {{ user_form.as_p }}
                {% csrf_token %}
                <p><input type="submit" value="Зарегистрироваться"></p>
            </form>
        </div>
    </div>

{% endblock %}