html {
    position: relative;
    min-height: 100%;
}

body {
    width: 100%;
    min-width: 1024px;
    max-width: 1920px;
}

a:active,
a:hover,
a {
    text-decoration: none;
}

header {
    width: 100%;
    height: 15em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;

}

.header-body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.logo {
    width: 333px;
    height: 204px;

}

.nav {
    width: 100%;
    display: block;
    margin-left: 62.5px;

}

.search {
    width: 100%;
    height: 60px;
    display: flex;

}

.search_block {
    width: 100%;
    border: 1px solid black;
}

.buttons_block {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.search_block input {

    height: 47px;
    font-size: 30px;
    border-radius: 25px;
}


.search form {
    justify-content: left;
}

.buttons {
    display: flex;
    justify-content: right;

}


nav li {
    display: inline-block;
    text-transform: uppercase;
    padding-left: 150px;
    font-size: 30px;
}

.cart {
    display: inline-block;
}

.cart-img:before {
    content: none
}


.cart-button {
    display: block;
    border: 1px solid black;
    background: #4F80BB;
    height: 45px;
    width: 245px;
    text-align: center;
    margin-right: 2em;
    font-weight: bold;
    border-radius: 10px;
}

@media (max-width: 1772px) {
    .nav li {
        padding-left: 120px;
    }
}

@media (max-width: 1638px) {
    .nav li {
        padding-left: 100px;
    }
}

@media (max-width: 1558px) {
    .nav li {
        padding-left: 80px;
    }
}

@media (max-width: 1478px) {
    .nav li {
        padding-left: 60px;
    }
}

@media (max-width: 1398px) {
    .nav li {
        padding-left: 40px;
    }
}

@media (max-width: 1318px) {
    .nav li {
        padding-left: 20px;
    }
}

@media (max-width: 1238px) {
    .nav li {

        font-size: 20px;
    }
}

/*Ассортимент*/
.category_heading {
    margin-left: 150px;
    text-transform: uppercase;
}

.category_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.category_body {
    width: 85%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.category {
    width: 366px;
    height: 234px;
    display: block;
    border: 1px solid black;
    border-radius: 10px;
    margin: 15px 40px 36px 70px;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    padding: 40px 40px 74px 40px;
}

.category p {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ask {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.ask_body {
    width: 1674px;
    height: 263px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #363131;
}

.ask_sentence {
    width: 613px;
    height: 166px;
    line-height: 65px;
    margin-right: 115px;
}

.ask_sentence p {
    color: #fff;
    font-size: 64px;
    font-weight: bold;
}

.ask_button {
    width: 498px;
    height: 112px;
    background: #F8FD00;
    border: 2px solid #000000;
    border-radius: 40px;
    font-size: 55px;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Конец ассортимента*/
/*Подвал*/
footer {
    width: 100%;
    background: #363131;
    flex: 0 0 auto;

}

.footer_body {
    width: 85%;
    margin: 0 auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}

.footer_block1 {

}

.footer_subblock2 table th {
    color: #fff;
    font-weight: 400;
    font-size: 22px;
}

.footer_subblock2 table td {
    color: #fff;
    font-weight: 700;
    font-size: 22px;
}

.footer_block2 {
    margin-right: 160px;
}

.footer_block2 ul li {
    text-align: center;
    padding-bottom: 25px;
}

.footer_block2 ul li a {

    color: #fff;
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 37px;
    text-transform: uppercase;
}

footer hr {
    border-width: 1px;
    color: black;
}

.underfooter {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.underfooter h3 {

    margin: 0 auto 0;
    color: #fff;
    font-size: 15px;
    font-weight: 400;

}

/*Конец подвала*/

/*Каталог*/
.list_body {
    display: flex;
}

aside {
    border: 1px solid black;
    width: 428px;
    margin-left: 110px;
}

.filter_block {
    width: 428px;
    border: 1px solid #000000;
    margin-bottom: 30px;
}

.filter_block h2 {
    font-size: 35px;
}

.filter_block li {
    font-weight: 500;
    font-size: 28px;

}

.col-xl-4 {
    font-size: 34px;
}

/*Конец каталога*/

/*Карточка товара*/

.product_card {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product_card_name_block {
    margin-bottom: 56px;
}

.product_card_name_block h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 64px;
    line-height: 83px;
    color: #384685;
}

.product_card_body {
    width: 80%;
}

.product_block {
    display: flex;
    justify-content: center;

}

.product_chars table {
    border-spacing: 75px 0;
    border-collapse: separate;
}



.description_heading h3 {
    font-weight: 700;
    font-size: 48px;
    text-transform: uppercase;
}

.product_description {
    margin-bottom: 75px;
}

.description_text p {
    font-weight: 400;
    font-size: 36px;
    line-height: 47px;;
}

.product_actions {
    display: flex;
    justify-content: space-between;

}


.product_docs_block {

    border: 1px solid black;
}

.buttons_block {
    border: 1px solid black;


}

.product_docs_block a {
    display: block;
    font-weight: 400;
    font-size: 32px;
    line-height: 41px;
}

.buttons_block form {
    display: flex;
    align-items: center;
    font-size: 26px;
}

.buttons_block input {
    font-weight: 700;
    font-size: 48px;
    line-height: 62px;
    color: #fff;
    text-transform: uppercase;
    width: 455px;
    height: 93px;
    background: #363131;
    border-radius: 30px;
}

/*Контакты*/
.contact_us_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 75px;
}

.contact_us_body {
    width: 90%;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;

}

.contact_us_form {
    margin: 0px 45px 0 58px;

}

.contact_us_form h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 55px;
    margin-bottom: 30px;

}

.contact_us_form form input {
    display: block;
    width: 497px;
    height: 64.01px;
    border: 2px solid #000000;
    border-radius: 40px;
    padding-left: 30px;
    margin-bottom: 15px;
    font-size: 36px;
    line-height: 47px;
}

.contact_us_form form textarea {
    width: 497px;
    max-height: 220px;;
    border: 2px solid #000000;
    border-radius: 40px;
    padding-left: 30px;
    margin-bottom: 15px;
    font-size: 36px;
    resize: none;
}

.submit_form {
    width: 361px;
    background: #363131;
    border-radius: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

.contact_us_initials {

    display: block;
}

.initials {
    background:#363131;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;

}

.initial_container {

    display: flex;
    align-items: center;
    justify-content: center;
}

.initial_body {
    padding: 2em;

}

.initial_body h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
}

.initial_body p {
    font-size: 1.3em;
    line-height: 37px;
    text-align: center;

    color: #fff;

}

.initial_block {

    text-align: center;
    color: #fff;

}

.initial_block a {
    color: #fff;
    font-size: 2em;
}

.about_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about_body {
    width: 90%;
}

.about_body h2 {
    margin-bottom: 20px;
}

.about_text_block {
    font-size: 20px;
}



.intro_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro_body {
    width: 90%;
}

.intro_body h2 {
    text-transform: uppercase;
    font-weight: bold;
}

.intro_text {
    font-size: 20px;
}

.partners_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 6em;
}

.partners_body {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.partners {
    width: 488px;
    height: 282px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5em;
    background: #ffffff;

}

.partners img {
    width: 100%;
}

.partner_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3em;
}

.partner_body {
    width: 90%;

}

.partner_body h2 {
    font-weight: bold;
}

.partner_body img {
    margin-bottom: 115px;
}

.partner_text h2 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: bold;
}

.partner_text p {
    font-size: 20px;
}

.partner_text a {
    font-size: 25px;
    text-decoration: underline;
}

.partner_text li {
    font-size: 20px;
}

/*Корзина*/

.cart_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart_body {
    width: 90%;
    display: flex;
    justify-content: space-between;

}
.cart_items{
    width: 1126px;
}
.cart_item {
    height: 8em;
    background: #FBFBFB;
    box-shadow: 2px 2px 10px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-size: 20px;

    margin-bottom: 15px;

}
.cart_item p{
    margin-left: 30px;
}
.cart_item a{
    margin-right: 30px;
}
.cart_positions{
    border: 1px solid black;
    width: 100%;
    height: 100%;
    table-layout: fixed;



}
.cart_positions th{
    border: 1px solid black;

}
.cart_positions td{
   border: 1px solid black;

}

.cart_summary {
    width: 487px;
    left: 1383px;
    top: 423px;
    background: #363131;
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    color: #ffffff;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.summary{
    width: 90%;
    table-layout: fixed;
    border: 1px solid black;
    margin: 0 auto 30px;
    font-weight: bold;
}

.gotoform{
    width: 90%;
    background: #384685;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    padding: 0.5em;
    text-align: center;
    margin: 0 auto;

}

/*Оформление*/
.order_container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5em;
}
.order_body{
    width: 90%;
}
.order_body h2, h3{
    font-weight: bold;
}
.field_block{
    margin-bottom: 15px;
}
.field_name{
    width: 10em;
    font-size: 2em;
}
.order_fields select{
    border-radius: 3px;
    font-size: 25px;
    background: rgba(56, 70, 133, 0.8);
    color: #FFFFFF;

}
.order_fields div{
    display: flex;
    align-items: center;

}

.order_fields span:after{
    margin-right: 30px;
}
.order_fields input{

    width: 497px;

    border: 2px solid #000000;
    border-radius: 40px;
    padding-left: 30px;
    font-size: 24px;
    line-height: 47px;
}

.button_place_order{
    width: 483px;
    height: 87px;
    background: #384685;
    border-radius: 5px;
    font-weight: 700;
    font-size: 36px;
    color: #FFFFFF;
    text-transform: uppercase;
}