{% extends 'shop/base.html' %}
{% load static %}
{% block title %}Главная{% endblock %}
{% block content %}
    <div class="lead_container">
        <div class="lead_left_block">
            <div class="lead_left_block_body">
                <h3>Масло мирового качества</h3>
                <h1>С НАМИ ВАША ТЕХНИКА
                    В НАДЕЖНЫХ РУКАХ!</h1>
                <a href="{% url 'assortment' %}"><u>Показать ассортимент</u></a>
            </div>
        </div>
        <div class="lead_right_block">
            <button onclick="window.location.href='{% url 'contacts' %}'">Задать вопрос</button>
        </div>
    </div>
    <div class="main_partners_container">
        <div class="main_partners_body">
            <div class="main_partners_layer1">
                <div class="dblock1">
                    <div class="rectangle">

                    </div>
                </div>
                <div class="dblock2">
                    <div class="rectangle">
                    </div>
                </div>
                <div class="dblock3">
                    <div class="layer2_floor1">
                        <h2>НАШИ ПАРТНЕРЫ</h2>
                    </div>
                    <div class="layer2_floor2">
                        <div class="floor2_body">
                            <div class="main_slider">
                                <div class="main_slider-wrapper">
                                    {% for partner in partner %}
                                        <div class="main_slide1-content">
                                            <h2>{{ partner.name }}</h2>
                                            <h1>{{ partner.quote }}</h1>
                                            <p>{{ partner.text }}</p>
                                            {% for partner_img in partner.mainpartnerimg_set.all %}

                                                <img src="{{ partner_img.img.url }}" alt="">
                                            {% endfor %}

                                            <div class="videos">
                                                <a href="{{ partner.short_video_link }}"><i
                                                        class="fa-solid fa-circle-play"></i>Посмотрите видео о компании
                                                    (короткая версия)</a>
                                                <a href="{{ partner.long_video_link }}"><i
                                                        class="fa-solid fa-circle-play"></i>Посмотрите видео о компании
                                                    (полная версия)</a>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="slider-controls">
                                    <button class="slider-prev">&#8249;</button>
                                    <button class="slider-next">&#8250;</button>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </div>


        </div>
    </div>


    <div class="main_assortment_desc_container">
        <div class="main_assortment_slider">
            <div class="indicators">
                <div class="indicator"><i class="fa-solid fa-car-side"></i></div>
                <div class="indicator"><i class="fa-solid fa-truck-fast"></i></div>
                <div class="indicator"><i class="fa-solid fa-motorcycle"></i></div>
                <div class="indicator"><i class="fa-solid fa-tractor"></i></div>
                <div class="indicator"><i class="fa-solid fa-industry"></i></div>
                <div class="indicator"><i class="fa-solid fa-sailboat"></i></div>
                <div class="indicator"><i class="fa-solid fa-train-subway"></i></div>
                <div class="indicator"><i class="fa-solid fa-gear"></i></div>
                <!-- Добавьте остальные индикаторы -->
            </div>
            <div class="main_assortment_slider_wrapper">

                <div class="main_assortment_slide-content">

                    <div class="assortment_text_block">
                        <div class="assortment_text_content">
                            <img src="{% static 'shop/img/categories/cars_white.png' %}" alt="">
                            <p>Моторное масло, предназначенное для максимальной
                                защиты бензиновых и дизельных
                                двигателей легковой техники,
                                работающее в различных условиях эксплуатации.</p>
                        </div>

                    </div>
                    <div class="button_block">
                        <button onclick="window.location.href='{% url 'assortment' %}'">Подробнее</button>
                    </div>

                </div>
                <div class="main_assortment_slide-content">

                    <div class="assortment_text_block">
                        <div class="assortment_text_content">
                            <img src="{% static 'shop/img/categories/commercial_white.png' %}" alt="">
                            <p>Мы предлагаем правильные продукты для обслуживания вашего парка грузоподъемных
                                автомобилей.</p>
                        </div>

                    </div>
                    <div class="button_block">
                        <button onclick="window.location.href='{% url 'assortment' %}'">Подробнее</button>
                    </div>

                </div>
                <div class="main_assortment_slide-content">

                    <div class="assortment_text_block">
                        <div class="assortment_text_content">
                            <img src="{% static 'shop/img/categories/2t-4t_white.png' %}" alt="">
                            <p>Все необходимые масла для небольших двигателей, таких как мотоциклы, мопеды и другие.</p>
                        </div>

                    </div>
                    <div class="button_block">
                        <button onclick="window.location.href='{% url 'assortment' %}'">Подробнее</button>
                    </div>

                </div>
                <div class="main_assortment_slide-content">

                    <div class="assortment_text_block">
                        <div class="assortment_text_content">
                            <img src="{% static 'shop/img/categories/dom_white.png' %}" alt="">
                            <p>Полное покрытие для всех внедорожных материалов для удовлетворения всех ваших
                                потребностей в сельскохозяйственном масле.</p>
                        </div>

                    </div>
                    <div class="button_block">
                        <button onclick="window.location.href='{% url 'assortment' %}'">Подробнее</button>
                    </div>

                </div>
                <div class="main_assortment_slide-content">

                    <div class="assortment_text_block">
                        <div class="assortment_text_content">
                            <img src="{% static 'shop/img/categories/manuf_white.png' %}" alt="">
                            <p>Широкий ассортимент гидравлических масел и промышленных продуктов позволит оставаться вам
                                на высоте.</p>
                        </div>

                    </div>
                    <div class="button_block">
                        <button onclick="window.location.href='{% url 'assortment' %}'">Подробнее</button>
                    </div>

                </div>
                <div class="main_assortment_slide-content">

                    <div class="assortment_text_block">
                        <div class="assortment_text_content">
                            <img src="{% static 'shop/img/categories/marine_white.png' %}" alt="">
                            <p>Все основные товары для магистральных, поршневых и других двигателей.</p>
                        </div>

                    </div>
                    <div class="button_block">
                        <button onclick="window.location.href='{% url 'assortment' %}'">Подробнее</button>
                    </div>

                </div>
                <div class="main_assortment_slide-content">

                    <div class="assortment_text_block">
                        <div class="assortment_text_content">
                            <img src="{% static 'shop/img/categories/train_white.png' %}" alt="">
                            <p>Лучшее масло для локомотивов способно работать в любых условиях.</p>
                        </div>

                    </div>
                    <div class="button_block">
                        <button onclick="window.location.href='{% url 'assortment' %}'">Подробнее</button>
                    </div>

                </div>
                <div class="main_assortment_slide-content">

                    <div class="assortment_text_block">
                        <div class="assortment_text_content">
                            <img src="{% static 'shop/img/categories/other_white.png' %}" alt="">
                            <p>СеверСнаб удовлетворит все ваши потребности, независимо от того, насколько они
                                специфичны.</p>
                        </div>

                    </div>
                    <div class="button_block">
                        <button onclick="window.location.href='{% url 'assortment' %}'">Подробнее</button>
                    </div>

                </div>

            </div>

        </div>
    </div>
    <div class="main_about_container">
        <div class="main_about_body">
            <div class="main_about_layer1">
                <div class="dblock1">
                    <div class="rectangle">

                    </div>
                </div>
                <div class="dblock2">
                    <div class="rectangle">

                    </div>
                </div>
                <div class="about_dblock3">
                    <div class="about_dblock3_body">
                        <h1>НЕМНОГО О НАС</h1>
                        <p>ООО "Северснаб" зарегистрирован 05.08.2014г., работает в сфере реализации ГСМ и фильтров.
                            На сегодняшний день компания является официальным дилером крупнейшего производителя по
                            маслам и
                            смазкам North Sea Lubricants (Голландия), Ymioil (Тюмень), представляет интересы компании
                            Delfin Group, Nordfil (фильтра).
                        </p>
                        <button onclick="window.location.href='{% url 'about' %}'">Подробнее</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="main_news_container">

        <div class="main_news_body">
            <h1>НОВОСТИ</h1>

            <div class="news_container">
                {% for new in news %}
                    <a href="{% url 'news-detail' new.id %}">
                        <div class="new">
                            {% for new_img in new.newsimage_set.all %}
                                <img src="{{ new_img.img.url }}" alt="">
                            {% endfor %}
                            <h1>{{ new.title }}</h1>
                        </div>
                    </a>
                {% endfor %}

            </div>
            <button onclick="window.location.href='{% url 'news' %}'">Все новости</button>

        </div>

    </div>

{% endblock %}