{% extends 'shop/base.html' %}
{% load static %}
{% block title %}Новости{% endblock %}
{% block content %}
    <div class="news_list_container">

        <div class="news_list_body">
            <h2>НОВОСТИ</h2>
        <div class="news_container">
            {% for new_obj in news %}

                    <a class="new_object_container" href="{% url 'news-detail' new_obj.id %}">
                        <div class="new_object">
                            {% for new_obj_img in new_obj.newsimage_set.all %}
                                <img src="{{ new_obj_img.img.url }}" alt="">
                            {% endfor %}
                            <h3>{{ new_obj.title }}</h3>
                        </div>
                    </a>


            {% endfor %}
        </div>
        </div>
    </div>
{% endblock %}