{% extends 'shop/base.html' %}
{% load static %}
{% block title %} О нас {% endblock %}
{% block content %}
    <div class="about_container">
        <div class="about_body">
            <h2>Добро пожаловать!</h2>
            <div class="about_text_block">
                <div class="about_text_layer1">
                    <p>
                        На сегодняшний день мы работаем с крупными предприятиями по <b>Северо-Западному округу</b>.
                        Наша компания
                        имеет складские помещения, позволяющие закрывать Ваши потребности на следующий день, и
                        собственный
                        транспорт. Также наша компания зарегистрирована на многих площадках и принимает участие во
                        многих
                        конкурсах (тендерах), а также и прямые договора на поставку продукции. Помимо этого наша
                        компания
                        готова предложить <i>услуги по утилизации отработанных масел</i>.
                    </p>
                    <img src="{% static 'shop/img/about_layer1.jpg' %}" alt="">

                </div>
                <div class="about_text_layer2">
                    <p>
                        <b>ООО "Северснаб"</b> зарегистрирован 05.08.2014 г., работает в сфере реализации ГСМ и
                        фильтров. На
                        сегодняшний день компания является официальным дилером крупнейшего производителя по маслам и
                        смазкам
                        <b>North Sea Lubricants (Голландия)</b>, <b>Ymioil(Тюмень)</b> , представляет интересы компании
                        <b>Delfin
                            Group,
                            Nordfil (фильтра)</b>. Также наша компания занимается разработкой и производством фильтров
                        для
                        спецтехники и легкового транспорта. Помимо этого в ассортимент нашей компании входят такие
                        бренды,
                        как <b>Газпромнефть, Лукойл, Роснефть</b> и др. производители.
                    </p>
                    <img src="{% static 'shop/img/about_layer2.jpg' %}" alt="">
                </div>
                <h1>Сертификаты</h1>
                <div class="certificates">

                    <div class="slider">
                        <div class="slider-wrapper">
                            <div class="slide1-content">
                                <img src="{% static 'shop/img/YMICert.png' %}" alt="Slide1">
                                <img src="{% static 'shop/img/NSLcert.png' %}" alt="Slide2">
                                <p>ООО "Северснаб" является официальным дилером производителей по маслам. Подтверждением
                                    являются предоставленные, компаниями-партнерами сертификаты!</p>
                            </div>
                            <div class="slide2-content">

                            </div>

                        </div>
                        <div class="slider-controls">
                            <button class="slider-prev">&#8249;</button>
                            <button class="slider-next">&#8250;</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}