{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="description" content="Онлайн-магазин масляных товаров для техники">
    <meta name="keywords"
          content="автомобиль, грузовой транспорт, фура, грузовик, коммерческий транспорт, промышленная техника, мотоциклы, квадроциклы, лодки, сельскохозяйственная техника, сельхоз техника, масла, автомобильные масла, тракторные масла, масла для яхт, масло для кранов, трансмиссия, смазка, вязкость масел, купить масло, YMIOIL, NordSeaLubricants, NSL, Nordfil, дилер, дистрибьютор">
    <meta name="author" content="СеверСнаб">
    <meta name="language" content = "ru">
    <title>{% block title %} {% endblock %}</title>

    <link rel="shortcut icon" href="{% static 'shop/img/logo.svg' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'shop/css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'shop/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'shop/css/style.css' %}">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css"
          integrity="sha384-QYIZto+st3yW+o8+5OHfT6S482Zsvz2WfOzpFSXMF9zqeLcFV0/wlZpMtyFcZALm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=PT+Sans&display=swap"
          rel="stylesheet">

</head>

<header class="pc">
    <div class="header-body">
        <div class="logo">
            <img src="{% static 'shop/img/logo.svg' %}" alt="логотип">
        </div>
        <div class="nav">
            <div class="search">
                <div class="search_block">
                    <form action="{% url 'search' %}" , method="get" class="form-horizontal">
                        <input type="search" placeholder="Поиск" name="q" class="form-control">
                    </form>
                </div>
                <div class="buttons_block">
                    <div class="buttons">
                        <div class="login">
                            <span class="user">
                                {% if request.user.is_authenticated %}
                                    Hello {{ request.user.first_name}},
                                    <a href="{% url 'logout' %}">Logout</a>
                                {% else %}
                                    <a href="{% url 'login' %}">Вход</a>
                                {% endif %}
                            </span>
                        </div>
                        <div class="favourite">

                        </div>
                        <div class="cart">

                            {% with total_items=cart|length %}
                                <div class="cart-icon">
                                    <a href="{% url 'cart-detail' %}" class="pc-icon">
                                        <i class="fa fa-shopping-cart"></i>

                                        {% if cart|length > 0 %}
                                            <span class="cart-items-pc">{{ total_items }}</span>{% endif %}
                                    </a>
                                    <div class="cart-label">Корзина</div>
                                </div>


                            {% endwith %}

                        </div>
                    </div>
                </div>


            </div>
            <hr>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'about' %}">о нас</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'partners' %}">наши партнёры</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'assortment' %}">ассортимент</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'contacts' %}">контакты</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>


</header>
<div class="mobile">
    <a href="#" class="mobile-logo">
        <img src="{% static 'shop/img/logo.svg' %}" alt="логотип" width="100">
    </a>
    <div class="mobile-icons">
        <div class="mobile-search">
            <button id="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
            <form action="{% url 'search' %}" method="get">
                <input id="search-input" type="search" name="q" style="display: none;">
            </form>
        </div>



        {% with total_items=cart|length %}
            <a href="{% url "cart-detail" %}" id="cart-button" class="mobile-icon"><i style="padding-left: 15px;"
                                                                                      class="fa fa-shopping-cart"></i>
                {% if cart|length > 0 %} <span class="cart-items">{{ total_items }}</span>{% endif %}</a>
        {% endwith %}
    </div>
    <button class="mobile-menu-btn" id="mobile-menu-btn">
        <span class="mobile-menu-btn__icon"></span>
    </button>
</div>
<div class="mobile-menu" id="mobile-menu">
    <ul>
        <li><a href="{% url 'about' %}"><i class="fa-solid fa-circle-info"></i>о нас</a></li>
        <li><a href="{% url 'assortment' %}"><i class="fa-solid fa-boxes-stacked"></i>ассортимент</a></li>
        <li><a href="{% url 'partners' %}"><i class="fa-solid fa-handshake"></i>наши партнёры</a></li>
        <li><a href="{% url 'contacts' %}"><i class="fa-solid fa-envelope"></i>контакты</a></li>
    </ul>
    <div class="contact-us-button">
        <a href=""><span>Написать письмо</span></a>
    </div>
</div>
<body>

{% block pagename %} {% endblock %}
<div class="main-content">
    {% block content %}
    {% endblock %}
</div>
<script src="https://kit.fontawesome.com/38616c9bbe.js" crossorigin="anonymous"></script>
<script src="{% static 'shop/js/bootstrap.js' %}"></script>
<script src="{% static 'shop/js/jquery-3.6.4.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
<script src="{% static 'shop/js/burgerScript.js' %}"></script>
<script src="{% static 'shop/js/searchScript.js' %}"></script>
<script src="{% static 'shop/js/sliderScript.js' %}"></script>
<script src="{% static 'shop/js/maskInputScript.js' %}"></script>


</body>
<footer>
    <div class="footer_body">
        <div class="footer_block1">
            <div class="footer_subblock1">
                <img src="{% static 'shop/img/logo.svg' %}" alt="">
            </div>
            <div class="footer_subblock2">
                <table>
                    <tr>
                        <td>Время работы:</td>
                        <td align="right"> с 10:00 до 22:00</td>
                    </tr>
                    <tr>
                        <td>Адрес:</td>
                        <td align="right"> г. Гатчина, ул. Рысева 62А</td>
                    </tr>
                    <tr>
                        <td>Почта:</td>
                        <td align="right"><a href="mailto: info@sev_snab.ru">info@sev_snab.ru</a></td>
                    </tr>

                </table>
            </div>
        </div>
        <div class="footer_block2">
            <ul>
                <li><a href="{% url 'partners' %}">наши партнёры</a></li>
                <li><a href="{% url 'assortment' %}">ассортимент</a></li>
                <li><a href="{% url 'about' %}">о нас</a></li>
                <li><a href="{% url 'contacts' %}">контакты</a></li>
            </ul>
        </div>
        <div class="footer_block3">
            <script type="text/javascript" charset="utf-8" async
                    src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A8f8d44ebac29f057b438b0fbec53fb5d69d5043d76d49fbc86d25d1ae69a7012&amp;width=100%25&amp;height=387&amp;lang=ru_RU&amp;scroll=true"></script>
        </div>

    </div>
    <hr>
    <div class="underfooter_container">
        <div class="underfooter_body">
            <div class="underfooter">
                <h3>&#169 2014 - 2023 ООО "СеверСнаб"</h3>
            </div>
        </div>
    </div>


</footer>


</html>
