{% extends 'shop/base.html' %}
{% load static %}
{% block title %} Категории {% endblock %}
{% block pagename %}<h1 class="category_heading">Ассортимент</h1> {% endblock %}
{% block content %}
    <div class="category_container">
        <div class="category_body">
            {% for category in categories %}
                <div class="category_card_container">
                    <div class="category_card_body">
                        <a class="category" href="{{ category.get_url }}">
                            {% for catimg in category.categoryimage_set.all %}
                                <img src='{{ catimg.img.url }}' alt="">
                            {% endfor %}
                        <p>{{ category }}</p>
                    </a>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>
    <div class="ask">
        <div class="ask_body">
            <div class="ask_sentence">
                <p>Есть вопросы? Наши специалисты ответят!</p>
            </div>

                <a class="ask_button" href="{% url 'contacts' %}">Написать письмо</a>
        </div>
    </div>



{% endblock %}