{% extends 'shop/base.html' %}
{% block title %}Наши партнёры{% endblock %}
{% block content %}
    <div class="intro_container">
        <div class="intro_body">
            <h2>предисловие</h2>
            <div class="intro_text">
                <p>На протяжении многих лет наша компания создавала сеть ценных ключевых партнеров и гордится длительным
                    сотрудничеством друг-с-другом. Каждый партнер является престижным брендом со всемирной репутацие в
                    своей сфере деятельности.</p>
                <p>В связи с этим мы хотим предложить Вам познакомиться с каждым партнёром индивидуально.</p>
            </div>
        </div>
    </div>
    <div class="partners_container">

        <div class="partners_body">
            {% for partner in partners %}
            <a class="partners" href="{{ partner.get_url }}">
                {% for partimg in partner.partnerimage_set.all %}
                <img src="{{ partimg.img.url }}" alt="">
                {% endfor %}
            </a>
        {% endfor %}
        </div>
    </div>
{% endblock %}