{% extends 'shop/base.html' %}
{% load static %}
{% block title %} {{ product.name }} {% endblock %}
{% block content %}
    <div class="product_card">
        <div class="product_card_body">
            <div class="product_card_name_block">
                <h2>{{ product.name }}
                {% if product.is_favorite %}
                <a class="is-favorite" href="{% url 'add_to_favorites' product.code %}"><i class="fa-solid fa-star" style="color: #ffd041"></i></a>
                {% else %}
                <a class="is-favorite" href="{% url 'add_to_favorites' product.code %}"><i class="fa-solid fa-star" style="color: #919191"></i></a>
                {% endif %}
                </h2>


            </div>
            <div class="product_block">
                <div class="img_block">
                    <img src="{{ product.img.url }}" alt="картинка">
                </div>
                <div class="product_chars">
                    <table>
                        <tr>
                            <th>Вязкость</th>
                            <td>{% if product.viscosity.all %}{% for viscosity in product.viscosity.all %}
                                {{ viscosity }}{% endfor %}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Бренд</th>
                            <td>{{ product.brand }}</td>
                        </tr>
                        <tr>
                            <th>Тип масла</th>
                            <td>{{ product.oiltype }}</td>
                        </tr>
                        <tr>
                            <th>Состав</th>
                            <td>{{ product.compound }}</td>
                        </tr>
                        <tr>
                            <th>Топливо</th>
                            <td>{% if product.fuel.all %}{% for fuel in product.fuel.all %}{{ fuel }}
                            {% endfor %}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Объем</th>
                            <td>{{ product.volume }} л.</td>
                        <tr></tr>
                        </tr>
                    </table>

                </div>
            </div>
            <div class="product_description">
                <div class="description_heading">
                    <h3>Описание</h3>
                </div>
                <div class="description_text">
                    <p>{{ product.description }}</p>
                </div>
            </div>
            <div class="actions">
                <div class="product_actions">
                    <div class="product_docs_block">
                        <a href="{{ product.tech_desc }}"><i class="fa-solid fa-file-lines" style="padding-right: 5px;"></i>Лист технического описания</a>
                        <a href="{{ product.security_pasport }}"><i class="fa-solid fa-triangle-exclamation" style="padding-right: 5px;"></i>Паспорт безопасности</a>
                    </div>
                    <div class="price"><span id="price-indicator">Цена: {{ product.price }} руб.</span></div>
                    <div class="actions_buttons">
                        <form action="{% url 'cart-add' product.code %}" method="post">
                            <input type="submit" value="в корзину">
                            {{ cart_product_form }}
                            {% csrf_token %}

                        </form>


                    </div>
                </div>
            </div>
        </div>

        <div class="back_button">

        </div>
    </div>

    <script src="{% static 'shop/js/ProductPriceChageScript.js' %}"></script>
{% endblock %}