{% extends 'shop/base.html' %}
{% block title %} {{ product.name }} {% endblock %}
{% block content %}
    <h2> {{ product.category.all }}</h2>
    <h3>Название - {{ product.name }}</h3>
    <h3>Тип продукта - {{ product.oiltype }}</h3>
    <h3>Вязкость - {{ product.viscosity }}</h3>
    <h3>Состав - {{ product.compound }}</h3>
    <h3>Топливо - {{ product.fuel }}</h3>
    <p class="price">{{ product.price }}</p>
    <form action="{% url 'cart-add' product.code %}" method="post">
        {{ cart_product_form }}
        {% csrf_token %}
        <input type="submit" value="Добавить в корзину">
    </form>
{% endblock %}